extends ../layout

block content
  h1= title
  form(method='post')
    p
        label Title
        input(type='text' name='title')
    p
        label Description of the article
        textarea(type='text' name='description')
    p
        input(type='submit' value='Submit')
